html{
    font-size: 16px;
    color: honeydew;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
}

body::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: purple;
    opacity: 0.3;
}

body *{
    z-index: 1;
}


header{
    margin: 0px;
    padding: 1.25rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 0.5;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    right: 0px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

header::before{
    content: "";
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.2;
    margin: 0px;
    left: 0;
    right: 0;
}

header nav{
    left: 0;
    right: inherit;
}


.mobile-header{
    display: none;
}

.desktop-header h1{
    font-size: 1.5rem;
}

.desktop-header li{
    margin: 1rem;
}


ul{
    padding-left: 0;
    flex-direction: row nowrap;
}

li{
    display: inline-block;
    list-style: none;
    margin: 0.25rem;
    margin-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}



section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px){
    html{
        font-size: 14px;
    }

    .desktop-header{
        display: none;
    }

    .mobile-header{
        display: flex;
        padding: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .mobile-header nav{
        width: 100%;
    }

    .mobile-header ul{
        display: flex;
        justify-content: space-around;
    }
}


@media only screen and (max-width:480px){
    html{
        font-size: 14px;
    }

    .desktop-header{
        display: none;
    }
    
    .mobile-header{
        display: flex;
    }
    .mobile-header nav{
        width: 100%;
    }

    .mobile-header ul{
        display: flex;
        justify-content: space-evenly;
    }
}